.container {
  display: grid;
  grid-template-areas:
    "nav"
    "body";
}

.body {
  grid-area: body;
}

.layout {
  display: grid;
  grid-template-areas: "sidebar content aside";
}

.content {
  padding-top: 2rem;
  width: 768px;
  grid-area: content;
}

@media (max-width: 768px) {
  .content {
    width: 520px;
  }
}

@media (max-width: 425px) {
  .layout {
    grid-template-areas:
      "aside "
      "content "
      "sidebar ";
  }

  .content {
    padding: 1rem;
    margin-top: 1rem;
    min-height: 70vh;
  }
}
