@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap");

:root {
  --primary-color: #3f8d7b;
  --secondary-color: #bcd7e1;
  --background-color: #edf7f0;
  --accent-color: #417b90;
  --text-color: #0b190f;
  --shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
    rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
  --font-light: 200;
  --font-regular: 400;
  --font-bold: 600;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  font-weight: var(--font-regular);
}

.font__bold {
  font-weight: 600;
}

ul {
  list-style: none;
}

.modal_wrapper {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  background-color: rgba(189, 189, 189, 0.9);
}

.modal_container {
  position: fixed;
  min-width: 30rem;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: var(--background-color);
  padding: 2rem;
  border-radius: 2rem;
}

.btn__link {
  background: none;
  border: none;
  text-decoration: underline;
  color: var(--accent-color);
}

.no__decoration {
  text-decoration: none;
}

.submit__btn {
  padding: 0.5rem;
  background-color: var(--secondary-color);
  border: none;
  box-shadow: var(--shadow);
}
