.sidebar__container {
  grid-area: sidebar;
  height: 90vh;
  width: 300px;
  position: sticky;
  top: 10vh;
  padding: 2rem 3rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}

.sidebar__post-btn {
  background-color: var(--secondary-color);
  border: none;
  box-shadow: var(--shadow);
  width: 200px;
  height: 40px;
  border-radius: 1rem;
  font-size: 1rem;
  display: flex;
  justify-content: center;
}
.sidebar__list {
  display: flex;
  gap: 1.5rem;
  flex-direction: column;
}

.sidebar__item {
  font-size: 1.2rem;
  margin-left: 1rem;
}

.sidebar__link {
  text-decoration: none;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  font-size: 1.2rem;
}

.sidebar__footer {
  display: flex;
  justify-content: space-between;
  gap: 1rem;
}

.sidebar__footer img {
  width: 50px;
  border-radius: 100%;
  aspect-ratio: 1;
}

@media (max-width: 768px) {
  .sidebar__container {
    width: 50px;
    align-items: center;
    height: 100vh;
  }

  .sidebar__list {
    gap: 1rem;
  }

  .sidebar__post-btn {
    box-shadow: none;
    width: 2rem;
    background: none;
  }

  .sidebar__link span {
    display: none;
  }

  .sidebar__icon {
    font-size: 2rem;
    color: var(--accent-color);
    margin-bottom: 1rem;
  }

  .sidebar__footer {
    flex-direction: column;
  }
}

@media (max-width: 425px) {
  .sidebar__container {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: max-content;
    padding: 1rem;
    position: sticky;
    bottom: 0;
    z-index: 1;
    background: var(--secondary-color);
  }

  .sidebar__body {
    display: flex;
    width: 100%;
  }

  .sidebar__list {
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
  }

  .sidebar__footer {
    display: none;
  }

  .sidebar__post-btn {
    width: 3rem;
  }
}
