.user__container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 3rem;
}
.avatar__container {
  display: flex;
  align-items: flex-end;
}

.avatar__container button {
  transform: translate(-30px, -15px);
  background-color: var(--secondary-color);
  border: 0.2px solid;
  border-radius: 100%;
  font-size: 1rem;
  width: 25px;
  z-index: 0;
}

.avatar__container button:hover {
  cursor: pointer;
}

.user__body {
  display: flex;
  gap: 1rem;
  flex-direction: column;
}

.profile__img {
  width: 150px;
  aspect-ratio: 1;
  border-radius: 100%;
  border: 2px solid var(--secondary-color);
}

.user__header {
  display: flex;
  justify-content: space-between;
}

.user__header h2 {
  color: var(--accent-color);
}

.user__stats {
  display: flex;
  justify-content: space-between;
}

.user__details {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

@media (max-width: 768px) {
  .profile__img {
    width: 120px;
    aspect-ratio: 1;
    border-radius: 100%;
    margin-right: 2rem;
  }

  .avatar__container button {
    transform: translate(-55px, -15px);
    font-size: 0.8rem;
    width: 23px;
  }
}
